<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=jw7xzYlPwB">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=jw7xzYlPwB">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=jw7xzYlPwB">
    <link rel="manifest" href="/site.webmanifest?v=jw7xzYlPwB">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=jw7xzYlPwB" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon.ico?v=jw7xzYlPwB">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png?v=jw7xzYlPwB">
    <meta name="theme-color" content="#000000">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="#" class="menu" onclick="toggleMenu()"><img src="/assets/img/icons/icons8-menu-squared-50.png" /></a>

        <a href="{{ "/" | absolute_url }}" title="black ends">{% include logo.svg %}</a>
        <script src="{{ "/assets/js/color-letters.js" | relative_url }}"></script>

        <p class="view"><a href="/tour">tour dates</a></p>
        <p class="view"><a href="/music">music</a></p>
        <p class="view"><a href="/videos">videos</a></p>
        <p class="view"><a href="/news">news</a></p>
        <p class="view"><a href="/press">press</a></p>
        <p class="view"><a href="/about">about</a></p>
        <p class="view"><a href="mailto:blackendsmusic@gmail.com" target="_blank" rel="noopener noreferrer">contact</a></p>

        <div class="socials">
            {% for social in site.data.socials %}
            <a href="{{ social.href }}" title="{{ social.title }}" target="_blank" rel="noopener noreferrer">
                <img src="{{ social.img }}" alt="{{ social.title }}" />
            </a>
            {% endfor %}
        </div>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <div class="socials socials-mobile">
            {% for social in site.data.socials %}
            <a href="{{ social.href }}" title="{{ social.title }}" target="_blank" rel="noopener noreferrer">
                <img src="{{ social.img }}" alt="{{ social.title }}" />
            </a>
            {% endfor %}
        </div>
      </footer>
    </div>
    <script>
        const links = document.querySelectorAll(".view");
        let menu_open = false;
        function toggleMenu() {
            menu_open = !menu_open;
            if (menu_open) {
                links.forEach(l => {
                    l.classList.add("show");
                    setTimeout(() => {
                        l.classList.add("fade-in");
                    }, 0);
                });
            } else {
                links.forEach(l => {
                    l.classList.remove("show");
                    l.classList.remove("fade-in");
                });
            }
        }
    </script>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>

