<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="theme-color" content="#000000">

    {% seo %}

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <script src="/assets/js/utils.js"></script>
  </head>
  <body>
      <header>
        <a id="logo-link" href="{{ "/" | absolute_url }}" title="black ends">{% include logo.svg %}</a>
        <script src="{{ "/assets/js/color-letters.js" | relative_url }}"></script>
        <a href="#" class="menu" onclick="toggleMenu()"><img src="/assets/img/icons/icons8-menu-squared-50.png" /></a>

        <nav>
            {% for nl in site.data.nav %}
            <a href="{{ nl.href }}">{{ nl.title }}</a>
            {% endfor %}
            <a href="mailto:blackendsmusic@gmail.com" target="_blank" rel="noopener noreferrer">contact</a>
        </nav>
        <script src="/assets/js/nav.js"></script>

      </header>
      <section>{{ content }}</section>
      <section id="zine">
          <img src="/assets/img/icons/book.gif" />
          <div class="mailing-list">
              <h2>Free zine!!</h2>
              <p>Join our mailing list to stay in the loop and gain access to our online zine:</p>
              <iframe data-tally-src="https://tally.so/embed/wkJlYZ?hideTitle=1&transparentBackground=1" loading="lazy" width="100%" height="211" frameborder="0" marginheight="0" marginwidth="0" title="Gunk pop fan club!"></iframe>
              <script>var d=document,w="https://tally.so/widgets/embed.js",v=function(){"undefined"!=typeof Tally?Tally.loadEmbeds():d.querySelectorAll("iframe[data-tally-src]:not([src])").forEach((function(e){e.src=e.dataset.tallySrc}))};if("undefined"!=typeof Tally)v();else if(d.querySelector('script[src="'+w+'"]')==null){var s=d.createElement("script");s.src=w,s.onload=v,s.onerror=v,d.body.appendChild(s);}</script>
          </div>
      </section>
      <footer>
        <div class="socials">
            {% for social in site.data.socials %}
            <a href="{{ social.href }}" title="{{ social.title }}" target="_blank" rel="noopener noreferrer">
                <img src="{{ social.img }}" alt="{{ social.title }}" />
            </a>
            {% endfor %}
        </div>
      </footer>

      <script src="/assets/js/hero.js"></script>
  </body>
</html>

